<!DOCTYPE html>
<html lang="en">
<head>

<style>
    @font-face { font-family: 'BMHANNAPro'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff'); font-weight: normal; font-style: normal; } 
    * {font-family: 'BMHANNAPro';}
</style>
</head>
{% block content %}
<body>

<div class='container'>
  <form method='POST'enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <table>
      {{form.as_table}}
    </table>
    <br>
    <input class="btn btn-dark" type="submit" value="글쓰기">
  </form>

   
    
</div>

</body>
{% endblock %}
</html>